.row-fluid
  .span6.scroll
    %table.table.table-bordered.table-striped
      %th Tweets from the Twitter Bootstrap Team
      %tbody.user-tweets
  .span6.scroll
    %table.table.table-bordered.table-striped
      %th Tweets near my house in Key West
      %tbody.location-tweets
